services:
  - type: web
    name: event-manager-server
    env: node
    region: oregon
    plan: free
    buildCommand: npm install
    startCommand: npm start
    rootDir: server
    envVars:
      - key: GMAIL_USER
        sync: false
      - key: GMAIL_APP_PASSWORD
        sync: false
      - key: PORT
        value: 10000
      - key: NODE_ENV
        value: production

